body{
    font-family: monospace;
    background-color: #fafafa;
    /*text-align: center;*/
    line-height:28px;
}
p{
    font-size: 1.2em;
}
li{
    font-size: 1.2em;
    list-style-type: none;
}

.container{
    padding-top:15%;
}

h1{
    text-align:center;
    padding-bottom:5%;
    color:#FFDA74;
    font-weight:bold;
}

h2{
    padding-bottom:1%;
    color:#FFDA74;
    font-weight: bold;
}

h4{
    padding-bottom:1%;
}

.btn-primary {
    color: #FFFFFF;
    background-color:black;

}

carousel-inner > .item > img {
  width:640px;
  height:360px;
}
.copyright{
    font-size: 10px;
}

.footer h2{
    color:#000000;
}